<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="service" source="spring.application.name" defaultValue="pollen-core"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}){faint} %clr(service=${service}){cyan} %clr(level=%-5level) %clr(thread=%thread){blue} %clr(correlation_id=%X{correlationId:-}){yellow} %clr(request_id=%X{requestId:-}){yellow} %clr(collection_id=%X{collectionId:-}){yellow} %clr(message_id=%X{messageId:-}){yellow} %clr(logger=%logger{36}){magenta} %clr(-){faint} %msg%n%ex</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
