<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="service" source="spring.application.name" defaultValue="pollen-core"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} service=${service} level=%-5level thread=%thread correlation_id=%X{correlationId:-} request_id=%X{requestId:-} collection_id=%X{collectionId:-} message_id=%X{messageId:-} logger=%logger{36} - %msg%n%ex</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
